.footer {
  margin-top: 5rem;
  width: 100%;
}

.aside {
  margin-top: 2rem;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .router-container {
    margin-top: 0;
  }
  .row {
    display: flex;
    align-items: start;
    width: 100%;
  }
}

.loadingImagecontainer {
  position: fixed;
  top: 15rem;
  left: 0;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2); /* Low opacity white */
  backdrop-filter: blur(8px); /* Blurs content behind overlay */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  z-index: 9999;
}

.loadingImage {
  width: 20%;
}
